.character-card {
  text-align: center;
  background-color: pink;
  border-radius: 30px;
  width: 250px;
  margin: 50px 10px 0 10px;
  &:hover {
    cursor: pointer;
  }
  &__image-wrapper {
    margin-top: 15px;
  }
  &__image {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 60%;
    height: auto;
  }
  &__status {
    
  }
}