.character-card {
  position: relative;
  text-align: center;
  border-radius: 30px;
  width: 240px;
  padding: 0 5px 10px 5px;
  margin: 50px 10px 0 10px;
  background: $main-color;
  min-height: 290px;
  &__image-wrapper {
    margin-top: 15px;
  }
  &__image {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 60%;
    height: auto;
  }
  &__name {
    font-size: 23px;
    margin: 15px 0 15px 0;
  }
  &__about {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    width: 115px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding: 6px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );

  }
}