@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables/variables';

* {
  font-family: 'Roboto', sans-serif;
}

.root {
  min-height: 100vh;
  background: rgb(121,255,148);
  background: radial-gradient(circle, rgba(121,255,148,1) 0%, rgba(0,255,252,1) 100%);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/characters';
@import 'blocks/character-card';
@import 'blocks/paginator';
@import 'blocks/popup';
@import 'blocks/loader';
@import 'media/media';