@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/characters';
@import 'blocks/character-card';
@import 'blocks/paginator';
@import 'blocks/popup';